n8n-deployment/workflows/daily-enrollment-report-rest.json
{
  "name": "Daily Enrollment Report (REST API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://brejvdvzwshroxkkhmzy.supabase.co/rest/v1/rpc/get_daily_signups",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "query-new-signups",
      "name": "Query New Signups (REST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-api",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const signups = $input.first().json;\n\nif (!signups || signups.length === 0) {\n  return [{\n    json: {\n      subject: 'Daily Enrollment Report - No new signups',\n      html: `\n        <h2 style=\"color: #2c5aa0;\">Daily Enrollment Report</h2>\n        <p style=\"color: #495057;\">No new signups yesterday.</p>\n        <p style=\"color: #6c757d; font-size: 14px;\">Report date: ${new Date().toLocaleDateString()}</p>\n      `,\n      count: 0\n    }\n  }];\n}\n\nconst rows = signups.map(signup => {\n  const signupDate = new Date(signup.created_at);\n  return `\n    <tr>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signupDate.toLocaleString()}</td>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signup.first_name} ${signup.last_name}</td>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signup.email}</td>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signup.phone || 'N/A'}</td>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signup.slug}</td>\n      <td style=\"padding: 12px; border: 1px solid #dee2e6;\">${signup.sponsor_first_name ? `${signup.sponsor_first_name} ${signup.sponsor_last_name}` : 'Direct'}</td>\n    </tr>\n  `;\n}).join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f8f9fa; margin: 0; padding: 20px;\">\n  <div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); overflow: hidden;\">\n    \n    <div style=\"background-color: #2c5aa0; padding: 30px; text-align: center;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: 600;\">Daily Enrollment Report</h1>\n      <p style=\"color: #ffffff; margin: 10px 0 0 0; opacity: 0.9;\">${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n    \n    <div style=\"padding: 30px; border-bottom: 2px solid #e9ecef;\">\n      <div style=\"text-align: center;\">\n        <div style=\"display: inline-block; background-color: #e7f3ff; border-radius: 8px; padding: 20px 40px;\">\n          <div style=\"font-size: 48px; font-weight: bold; color: #2c5aa0; margin-bottom: 5px;\">${signups.length}</div>\n          <div style=\"font-size: 14px; color: #495057; text-transform: uppercase; letter-spacing: 1px;\">New Signups Yesterday</div>\n        </div>\n      </div>\n    </div>\n    \n    <div style=\"padding: 30px;\">\n      <h2 style=\"color: #212529; font-size: 18px; margin: 0 0 20px 0;\">Enrollment Details</h2>\n      <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n        <thead>\n          <tr style=\"background-color: #f8f9fa;\">\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Date/Time</th>\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Name</th>\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Email</th>\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Phone</th>\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Slug</th>\n            <th style=\"padding: 12px; border: 1px solid #dee2e6; text-align: left; color: #495057; font-weight: 600;\">Sponsor</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${rows}\n        </tbody>\n      </table>\n    </div>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #dee2e6;\">\n      <p style=\"color: #6c757d; font-size: 12px; margin: 0;\">This is an automated report from n8n workflow automation</p>\n      <p style=\"color: #6c757d; font-size: 12px; margin: 5px 0 0 0;\">\n        <a href=\"http://5.161.215.156:5678\" style=\"color: #2c5aa0; text-decoration: none;\">View in n8n</a> | \n        <a href=\"https://reachtheapex.net/admin\" style=\"color: #2c5aa0; text-decoration: none;\">Admin Dashboard</a>\n      </p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    subject: `Daily Enrollment Report - ${signups.length} new signup${signups.length !== 1 ? 's' : ''}`,\n    html: html,\n    count: signups.length\n  }\n}];"
      },
      "id": "format-email",
      "name": "Format Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "theapex@theapexway.net",
        "toEmail": "admin@theapexway.net",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "smtp": {
          "id": "resend-smtp",
          "name": "Resend SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailResult = $input.first().json;\nconst reportData = $('Format Email HTML').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    signupCount: reportData.count,\n    emailSent: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query New Signups (REST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query New Signups (REST)": {
      "main": [
        [
          {
            "node": "Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveDataManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "Reports",
      "id": "reports"
    },
    {
      "name": "Daily",
      "id": "daily"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-05T00:00:00.000Z",
  "versionId": "2"
}
