n8n-deployment/workflows/daily-enrollment-no-creds.json
{
  "name": "Daily Enrollment Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every Day at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://brejvdvzwshroxkkhmzy.supabase.co/rest/v1/distributors",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,slug,first_name,last_name,email,phone,created_at"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyZWp2ZHZ6d3Nocm94a2tobXp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTMwMDY0NCwiZXhwIjoyMDg2ODc2NjQ0fQ.a49Z96fT3_Kikd8qVejBXpiEPJUdaX56tbMH4NFXedk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyZWp2ZHZ6d3Nocm94a2tobXp5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTMwMDY0NCwiZXhwIjoyMDg2ODc2NjQ0fQ.a49Z96fT3_Kikd8qVejBXpiEPJUdaX56tbMH4NFXedk"
            }
          ]
        },
        "options": {}
      },
      "id": "get-distributors",
      "name": "Get All Distributors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Get all distributors\nconst allDistributors = $input.all().map(item => item.json);\n\n// Get yesterday's date range\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\nyesterday.setHours(0, 0, 0, 0);\n\nconst today = new Date(now);\ntoday.setHours(0, 0, 0, 0);\n\n// Filter for yesterday's signups\nconst yesterdaySignups = allDistributors.filter(d => {\n  const createdAt = new Date(d.created_at);\n  return createdAt >= yesterday && createdAt < today;\n});\n\n// Format for output\nreturn yesterdaySignups.map(signup => ({\n  json: signup\n}));"
      },
      "id": "filter-yesterday",
      "name": "Filter Yesterday's Signups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const signups = $input.all();\n\nif (!signups || signups.length === 0) {\n  return [{\n    json: {\n      subject: 'Daily Enrollment Report - No new signups',\n      html: '<h2>No new signups yesterday</h2>',\n      to: 'admin@theapexway.net'\n    }\n  }];\n}\n\nconst rows = signups.map(item => {\n  const signup = item.json;\n  const date = new Date(signup.created_at);\n  return `\n    <tr>\n      <td style=\"padding:8px;border:1px solid #ddd\">${date.toLocaleString()}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${signup.first_name} ${signup.last_name}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${signup.email}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${signup.phone || 'N/A'}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${signup.slug}</td>\n    </tr>\n  `;\n}).join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<body style=\"font-family:Arial,sans-serif;padding:20px\">\n  <h1 style=\"color:#2c5aa0\">Daily Enrollment Report</h1>\n  <p><strong>${signups.length}</strong> new signup${signups.length !== 1 ? 's' : ''} yesterday</p>\n  <table style=\"width:100%;border-collapse:collapse\">\n    <tr style=\"background:#f0f0f0\">\n      <th style=\"padding:8px;border:1px solid #ddd;text-align:left\">Date</th>\n      <th style=\"padding:8px;border:1px solid #ddd;text-align:left\">Name</th>\n      <th style=\"padding:8px;border:1px solid #ddd;text-align:left\">Email</th>\n      <th style=\"padding:8px;border:1px solid #ddd;text-align:left\">Phone</th>\n      <th style=\"padding:8px;border:1px solid #ddd;text-align:left\">Slug</th>\n    </tr>\n    ${rows}\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    subject: `Daily Enrollment Report - ${signups.length} new signup${signups.length !== 1 ? 's' : ''}`,\n    html: html,\n    to: 'admin@theapexway.net'\n  }\n}];"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_N7WUE23T_FuSdXfAbD7WodviGa3nJnPtw"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Apex Reports <theapex@theapexway.net>\",\n  \"to\": [\"{{ $json.to }}\"],\n  \"subject\": \"{{ $json.subject }}\",\n  \"html\": {{ JSON.stringify($json.html) }}\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Every Day at 9 AM": {
      "main": [[{"node": "Get All Distributors", "type": "main", "index": 0}]]
    },
    "Get All Distributors": {
      "main": [[{"node": "Filter Yesterday's Signups", "type": "main", "index": 0}]]
    },
    "Filter Yesterday's Signups": {
      "main": [[{"node": "Format Email", "type": "main", "index": 0}]]
    },
    "Format Email": {
      "main": [[{"node": "Send Email via Resend", "type": "main", "index": 0}]]
    }
  },
  "pinData": {}
}
