n8n-deployment/workflows/new-distributor-onboarding.json
{
  "name": "New Distributor Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-distributor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "new-distributor"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": \"Workflow started\" } }}"
      },
      "id": "2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://reachtheapex.net/api/email/send-welcome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"distributorId\": $json.body.distributorId } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://brejvdvzwshroxkkhmzy.supabase.co/rest/v1/distributors?id=eq.{{ $json.body.distributorId }}&select=*,sponsor:distributors!sponsor_id(first_name,last_name)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyZWp2ZHZ6d3Nocm94a2tobXp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMDA2NDQsImV4cCI6MjA4Njg3NjY0NH0.iz4K36Vd3HxXqyQLGga6z23Au8qe3FkUaVN9vPCcHzo"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJyZWp2ZHZ6d3Nocm94a2tobXp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMDA2NDQsImV4cCI6MjA4Njg3NjY0NH0.iz4K36Vd3HxXqyQLGga6z23Au8qe3FkUaVN9vPCcHzo"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4",
      "name": "Get Distributor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').item.json.body;\nconst raw = $input.first().json;\nconst dist = Array.isArray(raw) ? raw[0] : raw;\n\nif (!dist) throw new Error('Distributor not found');\n\nconst sponsor = Array.isArray(dist.sponsor) && dist.sponsor.length > 0 ? dist.sponsor[0] : dist.sponsor;\nconst sponsorName = sponsor ? `${sponsor.first_name} ${sponsor.last_name}` : 'Apex Vision';\n\nreturn [{\n  json: {\n    distributorId: webhook.distributorId,\n    firstName: webhook.firstName,\n    lastName: webhook.lastName,\n    email: webhook.email,\n    phone: dist.phone || '',\n    slug: dist.slug,\n    sponsorName: sponsorName,\n    replicatedSiteUrl: `https://reachtheapex.net/${dist.slug}`\n  }\n}];"
      },
      "id": "5",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://reachtheapex.net/api/signup/provision-ai",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"distributorId\": $json.distributorId,\n  \"firstName\": $json.firstName,\n  \"lastName\": $json.lastName,\n  \"phone\": $json.phone\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "6",
      "name": "Provision AI Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst fb = `🎉 Welcome ${d.firstName} ${d.lastName} to Apex Affinity Group! Excited to have you on the team under ${d.sponsorName}. Let's reach the apex together! 🚀`;\n\nconst tw = `Welcome ${d.firstName} ${d.lastName} to @ApexAffinity! 🎉 Sponsored by ${d.sponsorName}. #ApexAffinity #NetworkMarketing #Insurance`;\n\nconst li = `We're thrilled to welcome ${d.firstName} ${d.lastName} to Apex Affinity Group! ${d.firstName} joins us under the sponsorship of ${d.sponsorName}. We're excited to support your journey in building a successful insurance business. Welcome to the team!\\n\\nReplicated Site: ${d.replicatedSiteUrl}`;\n\nreturn [{\n  json: {\n    newMember: `${d.firstName} ${d.lastName}`,\n    sponsor: d.sponsorName,\n    siteUrl: d.replicatedSiteUrl,\n    facebook: fb,\n    twitter: tw,\n    linkedIn: li\n  }\n}];"
      },
      "id": "7",
      "name": "Social Media Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Distributor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Distributor": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Provision AI Phone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Media Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-05T20:00:00.000Z",
  "versionId": "1"
}
